@{
    ViewBag.Title = "出错页面";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<div class="content">
    <div class="four">
        <h3>404</h3>
        <p>The page you're looking for could not be found.</p>
        <a href="/Home/Index" class="more ">Go back</a>

    </div>

</div>
